
body{
	background-color: black;
	
}

.container{
	display: flex;
	flex-direction: column;
}


a{
	text-decoration: none;
}

ul{
	list-style: none;
}

/*--------------------MOBILE HOME PAGE---------------------*/
section.m-homepage{
		height: 400px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		.img-div{
			height: 150px;
			flex: 1 100%;
			
			img{
				margin-left:0;
				width: 100%;
				height: 100%;
			}
		}

		.selection{
			height: 100px;
			color:#fff;
			
			p{
				line-height: 1.5;
			}

			select{
				border-radius: 4px;
				padding: 8px;
				
			}
						 
		}
	}

	
	ul{
		display: flex;
		flex-wrap: wrap;
		margin:0 1%;
	
		li{
			flex: 1 100%;
		}

		.inner-item-wrapper {
    		height: 300px;
    		position: relative;
		}

		.article-img{
			background-size: cover;
		    height: 100%;
		    width: 100%;
		}
		.abstract{
			width: 100%;
			height: 90px;
			position: absolute;
			bottom: -10px;
			background: #000;
			opacity: 0.8;

			p{
				font-size: 12px;
			    line-height: 1.5;
			    padding: 5px;
			    color: #fff;

			}
		}
}

footer{
	width: 100%;
    height: 30px;
    position: relative;
    bottom: 0;


	.footer-txt{
		color: #c2c2c2;
	    font-family: Open Sans;
	    font-size: 11px;
	  	text-align: center;
	  	padding: 20px;
	    
	}	
}


/*____________________Desktop______________________*/
	
 @media screen and (min-width: 601px) {
	
	section.home-page {
		width: 600px;
		height: 400px;
		display: flex;
		flex-direction: row;
		align-items: center;

		.img-div{
			height: 300px;
			flex: 1;
			
			img{
				width: 100%;
				height: 100%;
			}
		}

		.selection{
			height: 100px;
			color:#fff;
			flex:1;

			p{
				font-size: 1.1em;
			}
		}
	}

	ul{
		display: flex;
		flex-wrap: wrap;
		margin:0 1%;

		li{
			flex: 1 24%;
			height: 300px;
		}

		.abstract p{
			padding-left: 10px;
		}
	}

	
	footer{
		position: absolute;
		bottom: 0;
	}
		p.footer-txt{
			text-align: unset;
			font-size: 1em;
			padding: 10px;
		}
	
}		

/*____________________Tablet______________________*/

@media screen and (min-width: 400px) and (max-width: 700px)  {
	
	ul{
		display: flex;
		flex-wrap: wrap;
		margin:0 1%;

		li{
			flex: 1 33%;
		}

		.inner-item-wrapper {
    		height: 300px;
    		position: relative;
		}

	}
	

}